.tabContainer{
  width:25%;
  height: 100%;
  display: flex;
  align-items: center;
  .tabList{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4{
      font-size: .4rem;
    }
    i{
      display: inline-block;
      transform: rotate(-90deg);
      float: right;
      color: #999;
    }
  }
}