.tabContainer{
  width:100%;
  height: .8rem;
  .tabList{
    width: 100%;
    h4{
      font-size: .4rem;
    }
    i{
      display: inline-block;
      transform: rotate(-90deg);
      float: right;
      color: #999;
    }
  }
}